%%-*- mode: erlang -*-

{deps, [{webmachine, "1.9.*", {git, "git://github.com/basho/webmachine", "HEAD"}}
%       ,{'bson-erlang',"0.*", {git, "git://github.com/KnownSubset/bson-erlang.git", "HEAD"}}
       ,{mongodb, "0.*",{git, "git://github.com/KnownSubset/mongodb-erlang.git", "HEAD"}}
       ]}.
